<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Include Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
		crossorigin="anonymous">
</head>

<!-- Main content -->
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
	<h1>Open Simulation</h1>

	<!-- Error message -->
	<div class="alert alert-danger" id="error"></div>

	<!-- Local file upload form -->
	<label class="form-label">Local</label>
	<form action="/oldSimulation" method="post" enctype="multipart/form-data">
		<div class="input-group form-group">
			<input class="form-control" type="file" name="file" />
			<input class="btn btn-light" type="submit" value="Upload">
		</div>
	</form>

	<!-- Database simulation open form -->
	<label class="form-label">Database</label>
	<form id="databaseInfo">
		<div class="input-group">
			<input class="form-control" id="simulationName" type="text"
				placeholder="Enter Simulation Name" name="name">
			<input class="btn btn-outline-dark" type="submit" value="Open">
		</div>
	</form>

	<!-- Hidden form for starting simulation from database -->
	<form id="startSimulation" style="display: none" action="/oldSimulationDB" method="post"
		enctype="multipart/form-data">
		<input id="db" type="text" placeholder="Enter Simulation Name" name="name">
		<input type="submit" value="submit">
	</form>

	<br>
	<br>

	<!-- Back button -->
	<form action="/">
		<input class="btn btn-light" type="submit" value="Back">
	</form>
</div>

<!-- JavaScript code -->
<script>

	// Parse JSON data from the server
	var data = JSON.parse('{{data | tojson | safe}}')

	// Check if there is any error data
	if (Object.keys(data).length == 0) {
		document.getElementById("error").style.display = "none"
	} else {
		document.getElementById("error").innerHTML = data.error
	}

	// Add event listener to the databaseInfo form
	var form = document.getElementById("databaseInfo")
	form.addEventListener("submit", validateSubmit)

	// Function to validate and submit the form
	function validateSubmit(event) {
		event.preventDefault();
		let simulationName = document.getElementById("simulationName").value

		// Check if the simulation exists in the database
		fetch("/checkSimulation/" + simulationName).then((response) => {
			return response.json()
		}).then((result) => {
			if (result.valid) {
				document.getElementById("db").value = simulationName

				// Check if the simulation is public or private
				fetch("/checkPublic/" + simulationName).then((res) => {
					return res.json();
				}).then((output) => {
					if (output.valid) {
						// If public, submit the startSimulation form
						document.getElementById("startSimulation").submit();
					} else {
						// If private, prompt for password
						let password = prompt("Simulation, " + simulationName + " is private. Please enter its password to open it, otherwise press cancel.");
						if (password != null && password != "") {
							var dataToSend = { "name": simulationName, "password": password }

							// Send password verification request to the server
							const xhr = new XMLHttpRequest();
							xhr.open("POST", "/verifyPassword")
							xhr.setRequestHeader("Content-Type",
								"application/json");
							finalData = JSON.stringify(dataToSend)
							xhr.send(finalData)
							xhr.onreadystatechange = function () {
								if (xhr.readyState == 4 && xhr.status == 200) {
									let json = JSON.parse(xhr.responseText);
									let valid = json.valid
									if (valid) {
										// If password is correct, submit the startSimulation form
										document.getElementById("startSimulation").submit();
									} else {
										alert("Incorrect password.")
									}
								}
							}
						}
					}
				})
			} else {
				alert("Simulation does not exist. Please try again.")
			}
		})
	}

</script>