<!DOCTYPE html>
<html>

<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <style>
    body {
      background-color: grey;
      color: white
    }
  </style>
</head>

<body>
  <h1 id="title">Evolution Simulator</h1>
  <div id="simulation-main">
    <div id="simulation-info"></div>
    <canvas id="simulation-grid" width="1000" height="1000"></canvas>
    <!-- <div id="simulation-grid"></div> -->
    <div id="simulation-progress"></div>
    <div id="selected-organism-info"></div>
  </div>
  </div>
</body>

</html>

<script>
  var data = JSON.parse('{{data | tojson | safe}}')
  const canvas = document.getElementById("simulation-grid")
  const ctx = canvas.getContext("2d")
  var iteration = 0
  var j = 0
  ctx.fillStyle = "white"
  ctx.fillRect(0, 0, 1000, 1000)

  async function loop() {
    prev = {}
    while (j < data.movement.length) {
      // speed changer
      if (j % 3000 == 0) {
        await new Promise(r => setTimeout(r, 10));
      }
      if (data.movement[j][0] == -1) {
        iteration += 1
        ctx.fillRect(0, 0, 1000, 1000)
        prev = {}
      } else {
        if (data.movement[j][0] in prev) {
          ctx.fillRect(prev[data.movement[j][0]][0] * 10, prev[data.movement[j][0]][1] * 10, 10, 10)
        }
        ctx.clearRect(data.movement[j][1][1] * 10, data.movement[j][1][0] * 10, 10, 10)
        prev[data.movement[j][0]] = [data.movement[j][1][1], [data.movement[j][1][0]]]
        document.getElementById("simulation-progress").innerHTML = iteration

      }
      j += 1
    }
  }

  chain = fetch("/get").then((response) => {
    return response.json()
  }).then((dat) => {
    data.movement = data.movement.concat(dat.movement)
    data.organisms = data.organisms.concat(dat.organisms)
    return loop()
  });

  for (let i = 1; i < 100; i++) {
    chain = chain.then((a) => {
      return fetch("/get")
    }).then((response) => {
      return response.json();
    }).then((dat) => {
      data.movement = data.movement.concat(dat.movement)
      data.organisms = data.organisms.concat(dat.organisms)
      return loop()
    }
    )
  }
  chain.then(() => {
    console.log("Finished")
  })
</script>